{% extends "base.html" %}

{% block body_class %}texts{% endblock body_class %}

{% block main %}
<div class="row">
    <div class="col-sm-12 col-lg-10 col-lg-offset-1">

        <h2>Table of Content</h2>

        <ul>
            <li><a href="#the_api">The API</a></li>
            <ul>
                <li><a href="#api-intro">Some introduction</a></li>
                <li><a href="#api-create">To create a new linkode</a></li>
                <li><a href="#api-createchild">To create a child of an existing linkode node</a></li>
                <li><a href="#api-get">To get a specific linkode node</a></li>
                <li><a href="#api-gettree">To get all the tree of a linkode</a></li>
            </ul>
        </ul>

        <h2 id="api">The API</h2>

        <p>This is the version 1 of the API.</p>

        <h3 id="api-intro">Some introduction</h3>
        <p>Before getting into the hard definitions, here are some words to help you understand the rest better.</p>

        <p>The basic idea is: each Linkode can have several revisions. When you create a linkode, and then you add a change, the linkode will be the same, different revisions. Specifically, you will have two nodes, with the same "linkode id", and different "revision numbers".</p>

        <p>Every linkode has a root node. When you "create" a new linkode, you'll receive the revision number of that root. After that basic creation, you will be able to add children to the different nodes, specifying the parent revno in the process.</p>

        <h3 id="api-create">To create a new linkode</h3>
        <pre>
    - type: POST
    - url: /api/1/linkodes/
    - data:
    content: the content of the linkode (Unicode!)
    text_type: the type of the content (plain text, Python, diff, C, etc.) [optional]
    - returns:
    linkode_id: the unique id of the new linkode
    revno: the revision number of its root node
        </pre>

        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab11" role="tab" data-toggle="tab">Python 3 (just stdlib)</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab12" role="tab" data-toggle="tab">Python 2 (using requests)</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab13" role="tab" data-toggle="tab">Javascript (with jQuery)</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab17" role="tab" data-toggle="tab">PHP</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab18" role="tab" data-toggle="tab">Java</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab19" role="tab" data-toggle="tab">...</a></li>
            </ul>

            <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab11">
                <pre>
    >>> import json
    >>> from urllib import parse, request
    >>> data = {'content': 'The content for your linkode', 'text_type': 'python'}
    >>> raw = parse.urlencode(data).encode("ascii")
    >>> u = request.urlopen("http://linkode.org/api/1/linkodes/", data=raw)
    >>> u.code
    201
    >>> raw = u.read()
    >>> json.loads(raw.decode("utf8"))
    {'revno': 'BEpK7XUDWluFuvFOmjdBQ2', 'linkode_id': 'RbWZRBGGV5kmmQFcpyX8i6'}
                </pre>
            </div>

            <div class="tab-pane" role="tabpanel" id="tab12">
                <pre>
    In [1]: import requests
    In [2]: data = {'content': u'The content for your linkode', 'text_type': 'python'}
    In [3]: r = requests.post("http://linkode.org/api/1/linkodes/", data=data)
    In [4]: r.json()
    Out[4]:
    {u'linkode_id': u'557b9746-af4c-4131-aed3-7bdb2caed0d4',
     u'revno': u'e594500e-00d8-4a20-b2b8-92508099b0a6'}
    In [5]: r.status_code
    Out[5]: 201
                </pre>
            </div>

            <div class="tab-pane" role="tabpanel" id="tab13">
                <pre>
    $.post(
        'http://linkode.org/api/1/linkodes/',
        {
            'content': 'The content for your linkode',
            'text_type': 'javascript'
        },
        function(data) {
            console.log(data);
    });
    >> Object { linkode_id="etGrenFvoib6HLY2jnkQr4", revno="JNxQG6PIJyqlrcjHdYtgt3"}
                </pre>
            </div>

            <div class="tab-pane" role="tabpanel" id="tab17">
                <pre>:) Please send an example in PHP to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></pre>
            </div>

            <div class="tab-pane" role="tabpanel" id="tab18">
                <pre>:) Please send an example in Java to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></pre>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab19">
                <pre>:) Please send an example in your favorite programming language to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></pre>
            </div>
        </div>

        <h3 id="api-createchild">To create a child of an existing linkode node</h3>
            <pre>
     - type: POST
     - url: /api/1/linkodes/&lt;linkode_id&gt;
     - data:
        content: the content of the new node (Unicode!)
        parent: the revision number of the node that is parent to this new one
    - returns:
        revno: the revision number of the new node
            </pre>

            <div class="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#tab21" class="nav-link active" role="tab" data-toggle="tab">Python 3 (just stdlib)</a></li>
                    <li class="nav-item">
                        <a href="#tab22" class="nav-link" role="tab" data-toggle="tab">Python 2 (using requests)</a></li>
                    <li class="nav-item">
                        <a href="#tab23" class="nav-link" role="tab" data-toggle="tab">Javascript (with jQuery)</a></li>
                    <li class="nav-item">
                        <a href="#tab27" class="nav-link" role="tab" data-toggle="tab">PHP</a></li>
                    <li class="nav-item">
                        <a href="#tab28" class="nav-link" role="tab" data-toggle="tab">Java</a></li>
                    <li class="nav-item">
                        <a href="#tab29" class="nav-link" role="tab" data-toggle="tab">...</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab21">
                        <pre>
    >>> from urllib import parse, request
    >>> import json
    >>> update = {'content': 'new content', 'text_type': 'python', 'parent': 'BEpK7XUDWluFuvFOmjdBQ2'}
    >>> raw = parse.urlencode(update).encode("ascii")
    >>> u = request.urlopen("http://linkode.org/api/1/linkodes/RbWZRBGGV5kmmQFcpyX8i6", data=raw)
    >>> u.code
    201
    >>> raw = u.read()
    >>> json.loads(raw.decode("utf8"))
    {'revno': 'QRHIfvoaGdflbI0bAr6zN4'}
                        </pre>

                    </div>

                    <div class="tab-pane" role="tabpanel" id="tab22">
                        <pre>
    In [1]: import requests
    In [2]: update = {'content': u'new content', 'text_type': 'python', 'parent': '796d0e80-a178-44a3-8226-2046768cf6f7'}
    In [3]: r = requests.post("http://linkode.org/api/1/linkodes/a5bdba03-82fd-4e89-a2db-1f4deb68d070", data=update)
    In [4]: r.json()
    Out[4]:
    {u'revno': u'9dca0df5-3291-42a8-a78e-5dba5a516f51'}
    In [5]: r.status_code
    Out[5]: 201
                        </pre>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="tab23">
                        <pre>
    $.post(
        'http://linkode.org/api/1/linkodes/etGrenFvoib6HLY2jnkQr4',
        {
            'content': 'New Content',
            'text_type': 'javascript',
            'parent': 'JNxQG6PIJyqlrcjHdYtgt3'
        },
        function(data) {
            console.log(data);
    });
    >> Object { revno="dB5VdK2n212ilyOr5tmFq7"}
                        </pre>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="tab27">
                        <pre>:) Please send an example in PHP to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></pre>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="tab28">
                        <pre>:) Please send an example in Java to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></pre>
                    </div>

                    <div class="tab-pane" role="tabpanel" role="tabpanel" id="tab29">
                        <pre>:) Please send an example in your favorite programming language to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></pre>
                    </div>
                </div>
            </div>

            <h3 id="api-get">To get a specific linkode node</h3>
                <pre>
    - type: GET
    - url: /api/1/linkodes/&lt;linkode_id&gt;/<revno>
    - returns:
        linkode_id: the unique id of the new linkode
        revno: the revision number of its root node
                </pre>

                <div class="tabpanel"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#tab31" class="nav-link active" role="tab" data-toggle="tab">Python 3 (just stdlib)</a></li>
                        <li class="nav-item">
                            <a href="#tab32" class="nav-link" role="tab" data-toggle="tab">Python 2 (using requests)</a></li>
                        <li class="nav-item">
                            <a href="#tab33" class="nav-link" role="tab" data-toggle="tab">Javascript (with jQuery)</a></li>
                        <li class="nav-item">
                            <a href="#tab37" class="nav-link" role="tab" data-toggle="tab">PHP</a></li>
                        <li class="nav-item">
                            <a href="#tab38" class="nav-link" role="tab" data-toggle="tab">Java</a></li>
                        <li class="nav-item">
                            <a href="#tab39" class="nav-link" role="tab" data-toggle="tab">...</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab31">
                            <pre>
    >>> from urllib import request
    >>> import json
    >>> u = request.urlopen("http://linkode.org/api/1/linkodes/RbWZRBGGV5kmmQFcpyX8i6/QRHIfvoaGdflbI0bAr6zN4")
    >>> u.code
    200
    >>> raw = u.read()
    >>> json.loads(raw.decode("utf8"))
    {'text_type': 'python', 'content': 'new content'}
                            </pre>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab32">
                            <pre>
    In [1]: import requests
    In [2]: r = requests.get("http://linkode.org/api/1/linkodes/a5bdba03-82fd-4e89-a2db-1f4deb68d070/ca8aa7a1-59e8-491c-9025-363f1fd7b908")
    In [3]: r.json()
    Out[3]:
    {u'content': u'The content for this linkode node'}
    In [4]: r.status_code
    Out[4]: 200
                            </pre>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab33">
                            <pre>
    $.get(
        'http://linkode.org/api/1/linkodes/etGrenFvoib6HLY2jnkQr4/dB5VdK2n212ilyOr5tmFq7',
        function(data) {
            console.log(data);
        }
    );
    >> Object { content="New Content", text_type="javascript"}
                            </pre>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab37">
                            <pre>:) Please send an example in PHP to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></pre>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab38">
                            <pre>:) Please send an example in Java to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></pre>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab39">
                            <pre>:) Please send an example in your favorite programming language to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></pre>
                        </div>
                    </div>
                </div>

                <h3 id="api-gettree">To get all the tree of a linkode</h3>
                    <pre>
   - type: GET
   - url: /api/1/linkodes/&lt;linkode_id&gt;
                    </pre>

      <p>As we don't know if the "get all the tree of a linkode" is going to be used, it has not been implemented yet, but it will have the API above ;-)</p>

{% endblock %}

{% block extra_scripts %}
    {% assets filters="jsmin", output="js/bs4.js",
          "js/bs4/tab.js", "js/bs4/util.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock extra_scripts %}
