<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="SU95TWvB44aUvVJnwgE0B_UW3uCwnrAh1NMB410Mew0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Linkode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="A calm, blue sky.">
    <meta name="author" content="PyAr">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    {% assets "scss_all" %}
        <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    {# FontAwesome icons #}
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    {% assets
        filters="cssmin",
        output="css/style.css",
               "theme/monokai.css",
               "lib/codemirror.css" %}
        <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
</head>


<body class="{% block body_class %}preview{% endblock %}" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">

  <!-- Navbar
    ================================================== -->
    <nav class="navbar navbar-light navbar-fixed-top bg-faded">
        <a class="navbar-brand" href="/">
            <u>Lin</u>]{<u>ode</u> (&alpha;)
        </a>
        <ul class="nav navbar-nav" id="main-menu-left">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fa fa-file-o"></i>
                    {{ _("New") }}
                </a></li>

            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <i class="fa fa-question-circle"></i>
                    {{ _("About") }}
                </a></li>

            <li class="nav-item">
                <a class="nav-link" href="/tools">
                    <i class="fa fa-wrench"></i>
                    {{ _("Tools") }}
                </a></li>
        </ul>
    </nav>

    <div class="container-fluid main">
        {% block main %}
        {% endblock %}
    </div><!-- /container -->

    <footer id="footer">
    </footer>

    <!-- javascript -->
    {% assets filters="jsmin", output="js/bundle-base.js",
              "js/jquery-1.10.2.min.js", "js/jquery.hotkeys.js", "js/bootstrap.min.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block extra_scripts %}
        {#  more scripts place #}
    {% endblock extra_scripts %}
</body>
</html>
